body{
	background:#ffffff;
	color:#555555;
	font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
font: normal 16px Arial, Helvetica, sans-serif;

line-height:1.6em;
margin:0;
}
.container{
	width:80%;
	margin:auto;
}

a{
	text-decoration: none;
	color:#000;	
}

a:hover{
	color:greenyellow;
}



.box-1{
	background-color:#333;
	color:#fff;

	border: 5px red solid;
	border-width:3px;
	border-bottom-width:10px;
	border-top-style:dotted;

	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;

	margin-top:20px;
	margin:20px 0;

}

.box-1 h1{
	font-family:Tahoma;
	font-weight:800;
	font-style:italic;
	text-decoration:underline;
	text-transform:uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;

}

.box-2{
	border:3px dotted #ccc;
	padding:20px;
	margin:20px 0;

}

.catagories{
	border:1px #ccc solid;
	padding:10px;
	border-radius:15px;

}

.catagories h2{
	text-align:center;	

}.catagories ul{
	padding:0;
	list-style:none;
}

.catagories li{
	padding-bottom:6px;
	border-bottom:dotted 1px #333;
	list-style-image: url('../images/check.png');
}


.my-form{
	padding:20px;
}

.my-form-group{
	padding-bottom:15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"], .my-form textarea{

}
	padding:8px;
	width:100%;
}